$active_type_border_color: #9b9ca7;
$normal_type_border_color: #e5e1ea;
$main_border_color: #76cdd8;
$height_of_news_menu: 30px;

h2{
  font-size: 21px;
}

.item{
  img{
    max-width: 200px;
  }
}

.share_num{
  display: inline;
}

.fb-share{
  background: #3664a2;
  color: white;
  display: block;
  width: 100px;
  margin: auto;
  cursor: pointer;
  border-radius: 5px;
}

.status-bar{
  border-top: 1px solid #e3e3ec;
  li{
    width:33%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
  }
}

.content-page{
  text-align: center;
}

.slider-feature{
  width: 700px;
  max-width: 100%;
  display: inline-block;
}

.owl-gallery{
  border-top: 1px solid #e6dcdc;
  padding: 10px;
  img{
    max-height: 150px;
  }
}

.banner{
  width: 570px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  img{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
  }
}
.banner:after{
  content: "";
  display: block;
  padding-top: 66%;
  position: relative;
}

.bar{
  width: 98%;
  height: $height_of_news_menu;
  top: -($height_of_news_menu/2);
  position: relative;
  border-bottom:1px solid $main_border_color;
  pointer-events: none;
  margin: 0px 1%;
  .sub-bar{
    font-size: 25px;
    position: absolute;
    display: inline-block;
    line-height: ($height_of_news_menu - 5);
    margin: 0px 20px;
  }

  .selected-type{
    left:0px;
  }

  .sitemenu-title{
    right:0px;
  }
}

.below-bar{
  width: 98%;
  //border: 1px solid black;
  margin: 0px 1%;
  text-align: left;
  position: relative;
  top: -($height_of_news_menu/2);
  .contents{
    width: 65%;
    display: inline-block;
    left: 0px;
    position: relative;
    //border: 1px solid blue;
    vertical-align: top;
    .type-choice{
      width: 100%;
      height: $height_of_news_menu;
      border-bottom: 1px solid $main_border_color;
      ul{
        padding: 0px 20px;
        li{
          display: inline-block;
          font-size: 16px;
          cursor: pointer;
        }
        li:hover{
          text-decoration: underline;
        }
      }
    }
    .contents-list{
      .lists{
        width: 100%;
        display: none;
        .list{
          img{
            width: 15%;
            display: inline-block;
            margin: 10px;
          }
          .detail{
            max-width: 80%;
            display: inline-block;
            vertical-align: middle;
            p{
              word-wrap: break-word;
            }
          }
        }
        .list::after{
          content:'';
          display:inline-block;
          width:100%; height:100%;
          margin: auto;
          border-bottom:1px solid $normal_type_border_color;
        }
      }
      .all-content{
        display: block;
      }
    }
  }
  .sitemenu{
    width: 30%;
    height: 400px;
    display: inline-block;
    position: absolute;;
    right: 0px;
    border-top: 1px solid $main_border_color;
    vertical-align: top;
    top: $height_of_news_menu;
  }
}

.content-menu{
  margin-top: 20px;
  ul{
    border-bottom: 2px solid $active_type_border_color;
    padding: 0px;
    text-align: center;
    li{
      display: inline-block;
      margin: 0% 0.1%;
      width: 23%;
      height: 40px;
      line-height: 40px;
      vertical-align: top;
      cursor: pointer;
      border-top: 1px solid $normal_type_border_color;
      border-left: 1px solid $normal_type_border_color;
      border-right: 1px solid $normal_type_border_color;
      border-radius: 10px 10px 0px 0px;
      a{
        display: block;
      }
    }
    li:hover{
      border-top: 1px solid $active_type_border_color;
      border-left: 1px solid $active_type_border_color;
      border-right: 1px solid $active_type_border_color;
    }
    .active{
      border-top: 2px solid $active_type_border_color;
      border-left: 2px solid $active_type_border_color;
      border-right: 2px solid $active_type_border_color;
    }
  }
}

.post-body{
  text-align: center;
  border-bottom: 1px solid #eae6e6;
  .content-text{
    border-top: 1px solid #e3e3ec;
    text-align: left;
    padding: 10px;
    margin: auto;
  }
  .recommend{

  }
}

@media (min-width : 769px)  {
  .content-text{
    max-width: 80%;
    img{
      max-width: 700px;
      max-height: 500px;
      margin-bottom: 10px;
    }
  }
  .item{
    img{
      max-width: 200px !important;
    }
  }
}
@media (max-width : 1024px)  {
  .sitemenu,.sitemenu-title{
    display: none !important;
  }
  .below-bar,.bar{
    top:15px !important;
  }
  .contents{
    width: 100% !important;
  }
  .list img{
    margin: 0px !important;
  }
  .detail{
    font-size: 10px !important;
  }
  h2{
    font-size: 14px !important;
  }
}
@media (max-width : 768px)  {
  .content-text{
    max-width: 90%;
    img{
      max-width: 80%;
      margin: 5px;
    }
  }
  .banner{
    width: 100%;
  }
  .content-menu{
    margin-top: 0px;
  }
}
@media (max-width : 480px)  {
  .content-text{
    max-width: 95%;
    border-top: 1px solid white !important;
  }
  .status-bar{
    li{
      width:100% !important;
    }
  }
  .list{
    img{
      width: 24% !important;
    }
  }
  .detail{
    width: 74% !important;
  }
  h1{
    font-size: 24px;
  }
  .owl-gallery{
    img{
      max-width: 100px !important;
      max-height: 150px !important;
    }
  }
  .item{
    img{
      max-width: 100px !important;
    }
    h4{
      font-size: 12px !important;
    }
  }
}






/* jssor slider bullet navigator skin 01 css */
/*
.jssorb01 div           (normal)
.jssorb01 div:hover     (normal mouseover)
.jssorb01 .av           (active)
.jssorb01 .av:hover     (active mouseover)
.jssorb01 .dn           (mousedown)
*/
.item img{
  max-width: 200px;
  max-height: 200px;
}
.caption{
  position:absolute;
  bottom: 0px;
  left: -800px;
  width: 800px;
  height:80px;
  z-index:0;
  background: -webkit-linear-gradient(top, rgba(255,0,0,0), rgba(0,0,0,1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, rgba(255,0,0,0), rgba(0,0,0,1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, rgba(255,0,0,0), rgba(0,0,0,1)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(0,0,0,1)); /* Standard syntax (must be last) */
  color:white;
  font-size:16px;
  line-height:30px;
  text-align:center;
  h2{
    margin-top: 20px !important;
  }
}
.jssorb01 {
    position: absolute;
}
.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
    position: absolute;
    /* size of bullet elment */
    width: 12px;
    height: 12px;
    filter: alpha(opacity=70);
    opacity: .7;
    overflow: hidden;
    cursor: pointer;
    border: #000 1px solid;
    border-radius: 6px;
}
.jssorb01 div { background-color: gray; }
.jssorb01 div:hover, .jssorb01 .av:hover { background-color: #d3d3d3; }
.jssorb01 .av { background-color: #fff; }
.jssorb01 .dn, .jssorb01 .dn:hover { background-color: #555555; }

/* jssor slider arrow navigator skin 02 css */
/*
.jssora02l                  (normal)
.jssora02r                  (normal)
.jssora02l:hover            (normal mouseover)
.jssora02r:hover            (normal mouseover)
.jssora02l.jssora02ldn      (mousedown)
.jssora02r.jssora02rdn      (mousedown)
.jssora02l.jssora02lds      (disabled)
.jssora02r.jssora02rds      (disabled)
*/
.jssora02l, .jssora02r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 55px;
    height: 55px;
    cursor: pointer;
    background: url('/img/a02.png') no-repeat;
    overflow: hidden;
}
.jssora02l:hover { background-position: -3px -33px; }
.jssora02r:hover { background-position: -63px -33px; }
.jssora02l { background-position: -123px -33px; }
.jssora02r { background-position: -183px -33px; }
.jssora02l.jssora02ldn { background-position: -3px -33px; }
.jssora02r.jssora02rdn { background-position: -63px -33px; }
.jssora02l.jssora02lds { background-position: -3px -33px; opacity: .3; pointer-events: none; }
.jssora02r.jssora02rds { background-position: -63px -33px; opacity: .3; pointer-events: none; }
