$active_type_border_color: #9b9ca7;
$normal_type_border_color: #e5e1ea;

.produce{
  text-align: center;
  display: none;
  margin: 20px 0px;
  div{
    width: 290px;
    height: 400px;
    display: inline-block;
    margin: 5px;
    img{
      width: 290px;
      height: 350px;
    }
  }
}

.all-produce{
  display: block;
}

.produce-list{
  margin-top: 20px;
  ul{
    border-bottom: 2px solid $active_type_border_color;
    padding: 0px;
    text-align: center;
    li{
      display: inline-block;
      margin: 0% 0.1%;
      width: 23%;
      height: 40px;
      line-height: 40px;
      vertical-align: top;
      cursor: pointer;
      border-top: 1px solid $normal_type_border_color;
      border-left: 1px solid $normal_type_border_color;
      border-right: 1px solid $normal_type_border_color;
      border-radius: 10px 10px 0px 0px;
    }
    .active{
      border-top: 2px solid $active_type_border_color;
      border-left: 2px solid $active_type_border_color;
      border-right: 2px solid $active_type_border_color;
    }
  }
}

.post{
  cursor: pointer;
  border: 1px solid #e5e1ea;
}

.produce-detail{
  display: none;
  padding: 2%;
  border-top: 1px solid gainsboro;
  a{
    width: 36%;
    display: inline-block;
    img{
      width: 100%;
      vertical-align: top;
    }
  }
  .detail-text{
    width:60%;
    display: inline-block;
    vertical-align: top;
  }
}

@media (max-width: 768px) {
  .produce-detail{
    a{
      width: 100%;
      img{
        width: 100%;
      }
    }
    .detail-text{
      width: 100%;
      display: block !important;
    }
  }
  .produce-list{
    ul{
      li{
        font-size: 8px;
      }
    }
  }
}
