$active_type_border_color: #9b9ca7;
$normal_type_border_color: #e5e1ea;

.product{
  text-align: center;
  display: none;
  padding: 0px 0px;
  border-bottom: 1px solid #e3e3ec;
  .post{
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
    font-size: 22px;
    div{
      position: relative;
      top:50%;
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      transform: translate(0, -50%);
    }
  }
  .post:hover{
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

.post img:hover{
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  webkit-transition: 0.3s;
  transition: 0.3s;
}

.all-product{
  display: block;
}

.product-list{
  margin-top: 20px;
  ul{
    border-bottom: 2px solid $active_type_border_color;
    padding: 0px;
    text-align: center;
    li{
      display: inline-block;
      margin: 0% 0.1%;
      width: 23%;
      height: 40px;
      line-height: 40px;
      vertical-align: top;
      cursor: pointer;
      border-top: 1px solid $normal_type_border_color;
      border-left: 1px solid $normal_type_border_color;
      border-right: 1px solid $normal_type_border_color;
      border-radius: 10px 10px 0px 0px;
    }
    li:hover{
      border-top: 1px solid $active_type_border_color;
      border-left: 1px solid $active_type_border_color;
      border-right: 1px solid $active_type_border_color;
    }
    .active{
      border-top: 2px solid $active_type_border_color;
      border-left: 2px solid $active_type_border_color;
      border-right: 2px solid $active_type_border_color;
    }
  }
}

.product-detail{
  display: none;
  padding: 2%;
  border-bottom: 1px solid gainsboro;
  a{
    width: 36%;
    display: inline-block;
    img{
      width: 100%;
      vertical-align: top;
    }
  }
  .detail-text{
    width:60%;
    display: inline-block;
    vertical-align: top;
  }
}

@media (min-width: 1025px) {
  .post{
    margin: 5px 50px;
    width: 400px;
    height: 380px;
    border-radius: 200px;
    img{
      max-height: 300px;
    }
  }
}
@media (max-width: 1024px) {
  .post{
    margin: 5px 5px;
    width: 400px;
    height: 380px;
    border-radius: 200px;
    img{
      max-height: 300px;
    }
  }
}

@media (max-width: 842px) {
  .post{
    width: 300px;
    height: 300px;
    img{
      max-height: 200px;
    }
  }
}

@media (max-width: 768px) {
  .product-detail{
    a{
      width: 100%;
      img{
        width: 100%;
      }
    }
    .detail-text{
      width: 100%;
      display: block !important;
    }
  }
  .product-list{
    margin-top: 0px;
    ul{
      li{
        font-size: 8px;
      }
    }
  }
}

@media (max-width: 642px) {
  .post{
    width: 200px;
    height: 200px;
    img{
      max-height: 150px;
    }
    div{
      font-size: 14px;
    }
  }
}

@media (max-width: 442px) {
  .post{
    width: 150px;
    height: 200px;
    border-radius: 20px;
  }
}
