.map{
  text-align: center;
  padding: 1px 0px;
  width: 100%;
  img{
    vertical-align: top;
    display: inline-block;
  }
  .map-title{
    position: relative;
    text-align: center;
    .title-h2{
        width:300px;
        background: white;
        margin: auto;
        z-index: 1;
        letter-spacing: 5px;
        position: relative;
        display: inline-block;
    }
  }
  .map-title:after{
    content : "";
    width: 70%;
    position: absolute;
    left:50%;
    top: 50%;
    z-index: 0;
    border-bottom: 5px solid #edf0f7;
    border-top: 5px solid #76cdd8;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}

.store-detail{
  display: none;
  padding: 2%;
  margin-bottom: 20px;
  margin-top: 10px;
  box-shadow: 0px 2px 10px #ecebeb;
  border: 1px solid gainsboro;
  //width: 55%;
  width: 90%;
  //min-height: 700px;
  min-height: 200px;
  background-color: white;
  .detail-text{
    width:100%;
    display: inline-block;
    vertical-align: top;
  }
}

.search-bar{
  width: 100%;
  max-width: 768px;
  position: fixed;
  top: 50%;
  left: 50%;
  height: 240px;
  z-index: 99999;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  .region{
    width: 100%;
    height: 100%;
    text-align: center;
    div{
      width: 70px;
      height: 70px;
      margin: 5px 10px 5px 10px;
      border-radius: 50%;
      display: inline-block;
      background-color: #1495cb;
      font-size: 18px;
      line-height: 70px;
      color:white;
      border: 1px solid white;
    }
    div:hover{
      box-shadow: 0px 0px 10px 2px #76cdd8;
      cursor: pointer;
    }
  }
}

.close-button{
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 99999;
  top: 20px;
  right: 10px;
  color: white;
  font-size: 50px;
  text-align: center;
  line-height: 50px;
}
.close-button:hover{
  opacity: 0.7;
  cursor:pointer;
}

.open-button{
  width: 65px;
  height: 65px;
  position: fixed;
  bottom: 20px;
  right: 10px;
}
.open-button:hover{
  opacity: 0.7;
  cursor:pointer;
}

.search-keyword{
  text-align: center;
}

.background{
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  position: fixed;
  background-color: rgba(10,10,10,0.6);
  z-index: 9999;
}

.slide-out {
    animation: slide-out 0.8s forwards;
    -webkit-animation: slide-out 0.8s forwards;
}

@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-10%); }
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-10%); }
}

@media (max-width:1024px)  {
  .store-detail{
    width: 95%;
  }
}

@media (max-width:768px)  {
  .map{
    overflow: hidden;
    img{
      -webkit-transform: scale(.8);
      -webkit-transform-origin: 0 0;
      transform: scale(.8);
      transform-origin: 0 0;
      animation: '';
      -webkit-animation: '';
    }
  }
  .detail-text{
    table{
      width: 265pt !important;
      font-size: 7px;
    }
  }
  .store-detail{
    position: relative;
    //top: -100px;
  }
  .region{
    div{
      margin: 5px 2px 5px 2px !important;
    }
  }
}

@media (max-width:568px)  {
  .search-bar{
    height: 320px !important;
  }
}
