h2 {
  font-size: 21px;
}
.item img {
  max-width: 200px;
}
.content-page {
  text-align: center;
}
.slider-feature {
  width: 700px;
  max-width: 100%;
  display: inline-block;
}
.banner {
  width: 570px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.banner img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}
.banner:after {
  content: "";
  display: block;
  padding-top: 66%;
  position: relative;
}
.bar {
  width: 98%;
  height: 30px;
  top: -15px;
  position: relative;
  border-bottom: 1px solid #76cdd8;
  pointer-events: none;
  margin: 0px 1%;
}
.bar .sub-bar {
  font-size: 25px;
  position: absolute;
  display: inline-block;
  line-height: 25px;
  margin: 0px 20px;
}
.bar .selected-type {
  left: 0px;
}
.bar .sitemenu-title {
  right: 0px;
}
.below-bar {
  width: 98%;
  margin: 0px 1%;
  text-align: left;
  position: relative;
  top: -15px;
}
.below-bar .contents {
  width: 65%;
  display: inline-block;
  left: 0px;
  position: relative;
  vertical-align: top;
}
.below-bar .contents .type-choice {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #76cdd8;
}
.below-bar .contents .type-choice ul {
  padding: 0px 20px;
}
.below-bar .contents .type-choice ul li {
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.below-bar .contents .type-choice ul li:hover {
  text-decoration: underline;
}
.below-bar .contents .contents-list .lists {
  width: 100%;
  display: none;
}
.below-bar .contents .contents-list .lists .list img {
  width: 15%;
  display: inline-block;
  margin: 10px;
}
.below-bar .contents .contents-list .lists .list .detail {
  max-width: 80%;
  display: inline-block;
  vertical-align: middle;
}
.below-bar .contents .contents-list .lists .list .detail p {
  word-wrap: break-word;
}
.below-bar .contents .contents-list .lists .list::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: auto;
  border-bottom: 1px solid #e5e1ea;
}
.below-bar .contents .contents-list .all-content {
  display: block;
}
.below-bar .sitemenu {
  width: 30%;
  height: 400px;
  display: inline-block;
  position: absolute;
  right: 0px;
  border-top: 1px solid #76cdd8;
  vertical-align: top;
  top: 30px;
}
.content-menu {
  margin-top: 20px;
}
.content-menu ul {
  border-bottom: 2px solid #9b9ca7;
  padding: 0px;
  text-align: center;
}
.content-menu ul li {
  display: inline-block;
  margin: 0% 0.1%;
  width: 23%;
  height: 40px;
  line-height: 40px;
  vertical-align: top;
  cursor: pointer;
  border-top: 1px solid #e5e1ea;
  border-left: 1px solid #e5e1ea;
  border-right: 1px solid #e5e1ea;
  border-radius: 10px 10px 0px 0px;
}
.content-menu ul li a {
  display: block;
}
.content-menu ul li:hover {
  border-top: 1px solid #9b9ca7;
  border-left: 1px solid #9b9ca7;
  border-right: 1px solid #9b9ca7;
}
.content-menu ul .active {
  border-top: 2px solid #9b9ca7;
  border-left: 2px solid #9b9ca7;
  border-right: 2px solid #9b9ca7;
}
.post-body {
  text-align: center;
  border-bottom: 1px solid #eae6e6;
}
.post-body .content-text {
  border-top: 1px solid #e3e3ec;
  text-align: left;
  padding: 10px;
  margin: auto;
}
@media (min-width: 769px) {
  .content-text {
    max-width: 80%;
  }
  .content-text img {
    max-width: 500px;
    margin: 15px;
  }
  .item img {
    max-width: 200px !important;
  }
}
@media (max-width: 1024px) {
  .sitemenu, .sitemenu-title {
    display: none !important;
  }
  .below-bar, .bar {
    top: 15px !important;
  }
  .contents {
    width: 100% !important;
  }
  .list img {
    margin: 0px !important;
  }
  .detail {
    font-size: 10px !important;
  }
  h2 {
    font-size: 14px !important;
  }
}
@media (max-width: 768px) {
  .content-text {
    max-width: 90%;
  }
  .content-text img {
    max-width: 80%;
    margin: 5px;
  }
  .banner {
    width: 100%;
  }
  .content-menu {
    margin-top: 0px;
  }
}
@media (max-width: 480px) {
  .content-text {
    max-width: 95%;
  }
  .list img {
    width: 24% !important;
  }
  .detail {
    width: 74% !important;
  }
  h1 {
    font-size: 24px;
  }
  .item img {
    max-width: 100px !important;
  }
  .item h4 {
    font-size: 12px !important;
  }
}
/* jssor slider bullet navigator skin 01 css *//*
 .jssorb01 div           (normal)
 .jssorb01 div:hover     (normal mouseover)
 .jssorb01 .av           (active)
 .jssorb01 .av:hover     (active mouseover)
 .jssorb01 .dn           (mousedown)
 */.item img {
  max-width: 200px;
  max-height: 200px;
}
.caption {
  position: absolute;
  bottom: 0px;
  left: -800px;
  width: 800px;
  height: 60px;
  z-index: 0;
  background-color: rgba(37, 33, 33, 0.62);
  color: white;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}
.caption h2 {
  margin-top: 10px !important;
}
.jssorb01 {
  position: absolute;
}
.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
  position: absolute;
  /* size of bullet elment */
  width: 12px;
  height: 12px;
  filter: alpha(opacity=70);
  opacity: 0.7;
  overflow: hidden;
  cursor: pointer;
  border: #000 1px solid;
  border-radius: 6px;
}
.jssorb01 div {
  background-color: gray;
}
.jssorb01 div:hover, .jssorb01 .av:hover {
  background-color: #d3d3d3;
}
.jssorb01 .av {
  background-color: #fff;
}
.jssorb01 .dn, .jssorb01 .dn:hover {
  background-color: #555;
}
/* jssor slider arrow navigator skin 02 css *//*
 .jssora02l                  (normal)
 .jssora02r                  (normal)
 .jssora02l:hover            (normal mouseover)
 .jssora02r:hover            (normal mouseover)
 .jssora02l.jssora02ldn      (mousedown)
 .jssora02r.jssora02rdn      (mousedown)
 .jssora02l.jssora02lds      (disabled)
 .jssora02r.jssora02rds      (disabled)
 */.jssora02l, .jssora02r {
  display: block;
  position: absolute;
  /* size of arrow element */
  width: 55px;
  height: 55px;
  cursor: pointer;
  background: url('/img/a02.png') no-repeat;
  overflow: hidden;
}
.jssora02l:hover {
  background-position: -3px -33px;
}
.jssora02r:hover {
  background-position: -63px -33px;
}
.jssora02l {
  background-position: -123px -33px;
}
.jssora02r {
  background-position: -183px -33px;
}
.jssora02l.jssora02ldn {
  background-position: -3px -33px;
}
.jssora02r.jssora02rdn {
  background-position: -63px -33px;
}
.jssora02l.jssora02lds {
  background-position: -3px -33px;
  opacity: 0.3;
  pointer-events: none;
}
.jssora02r.jssora02rds {
  background-position: -63px -33px;
  opacity: 0.3;
  pointer-events: none;
}
