html {
  background-color: #f7f7f7;
}
body {
  background-color: #fff;
  max-width: 1280px;
  margin: auto;
  border-radius: 0px 0px 30px 30px;
  box-shadow: 0.5px 0.5px 50px 1px #e1e6e6;
}
ul {
  margin-bottom: 0px;
}
.loading {
  position: relative;
  width: 40px !important;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
@keyframes opacityAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes opacityAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes opacityAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes opacityAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.header-top {
  text-align: center;
  width: 100%;
}
.header-top .nav-bar {
  margin: 10px 0px 0px 0px;
  position: relative;
  min-height: 45px;
  background-color: #76cdd8;
  z-index: 1;
}
.header-top .nav-bar .sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 15.5%;
}
.header-top .nav-bar .sub-menu li {
  width: 100%;
  height: 45px;
  line-height: 40px;
  background: #4a3c3c;
  border-bottom: 5px solid #4a3c3c;
}
.header-top .nav-bar .sub-menu li:hover {
  background-color: #60aecc;
  border-bottom: 5px solid #e0c59d;
}
.header-top .nav-bar li:hover > .sub-menu {
  display: block;
  padding: 0;
  text-align: center;
}
.header-top .nav-bar li:hover {
  background-color: #718e98;
  border-bottom: 5px solid #e0c59d;
}
.header-top .nav-bar li {
  display: inline-block;
  width: 16%;
  height: 45px;
  line-height: 45px;
  border-bottom: 5px solid #76cdd8;
}
.header-top .nav-bar li a {
  color: white !important;
  text-shadow: 1px 1px #000;
  display: block;
  text-decoration: none;
}
.icon-logo {
  text-align: center;
}
.icon-logo img {
  max-width: 100%;
}
.top-bar {
  max-width: 100%;
  margin-top: 12px;
  -webkit-animation: opacityAnimation 2s infinite;
  -moz-animation: opacityAnimation 2s infinite;
  -o-animation: opacityAnimation 2s infinite;
  animation: opacityAnimation 2s infinite;
}
.footer {
  width: 100%;
  height: 120px;
}
.footer .left-footer {
  padding: 20px 0px 20px 20px;
  width: 68%;
  display: inline-block;
  vertical-align: top;
}
.footer .left-footer div {
  line-height: 15px;
}
.footer .left-footer p {
  display: inline-block;
}
.footer .left-footer img {
  width: 15px;
  margin: 0 5px 0 0;
}
.footer .right-footer {
  width: 31.5%;
  min-width: 220px;
  padding: 20px 20px 0px 0px;
  display: inline-block;
  text-align: right;
  min-height: 120px;
  vertical-align: top;
}
.footer .right-footer img {
  width: 200px;
}
.footer:before {
  content : "";
  position: absolute;
  left    : 50%;
  height  : 1px;
  width   : 95%;
  max-width : 1280px;
  /* or 100px */
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.nav-bar-mobile {
  height: 45px;
  display: none;
  background-color: #07b0de;
  text-align: left;
}
.nav-bar-mobile img {
  height: 45px;
  left: 10px;
  position: absolute;
  cursor: pointer;
}
.mobile-list {
  z-index: 1;
  background-color: #2a3642;
  position: relative;
  top: 45px;
  width: 70%;
  max-width: 300px;
}
.mobile-list li {
  min-height: 45px;
  line-height: 45px;
}
.mobile-list li a {
  color: white;
}
.slider {
  overflow-y: hidden;
  max-height: 0;
  /* approximate max height */
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(1, 0.5, 0, 0);
}
.slider.closed {
  max-height: 1000px;
}
@media (max-width: 768px) {
  html {
    background-color: #fff;
  }
  body {
    max-width: 100%;
    box-shadow: 0px 0px;
    border-radius: 0px;
  }
  .nav-bar-mobile {
    display: block;
  }
  .icon-logo img {
    max-width: 50%;
  }
  .nav-bar {
    display: none;
  }
  .footer {
    text-align: center;
  }
  .footer .left-footer {
    width: 100%;
    padding: 20px 0px 0px 0px;
  }
  .footer .right-footer {
    width: 100%;
    text-align: center;
  }
}
